<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.manager.pojo.dao.LessonPlanDao">

    <resultMap id="BaseResultMap" type="com.school.manager.pojo.entity.LessonPlan">
        <result column="id" property="id"/>
        <result column="relation_id" property="relationId"/>
        <result column="relation_name" property="relationName"/>
        <result column="user_id" property="userId"/>
        <result column="chapter" property="chapter"/>
        <result column="section" property="section"/>
        <result column="lesson_plan_text" property="lessonPlanText"/>
        <result column="ppt_name" property="pptName"/>
        <result column="ppt_url" property="pptUrl"/>
        <result column="exercises_name" property="exercisesName"/>
        <result column="exercises_url" property="exercisesUrl"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        relation_id,
        relation_name,
        user_id,
        chapter,
        section,
        lesson_plan_text,
        ppt_name,
        ppt_url,
        exercises_name,
        exercises_url,
        version,
        create_time
    </sql>

    <sql id="Base_List_Column_List">
        id,
        relation_id,
        relation_name,
        user_id,
        chapter,
        section,
        ppt_name,
        exercises_name,
        create_time
    </sql>

    <insert id="save" parameterType="com.school.manager.pojo.entity.LessonPlan">
        INSERT INTO lesson_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test='null != id'>
                id,
            </if>
            <if test='null != relationId'>
                relation_id,
            </if>
            <if test='null != relationName'>
                relation_name,
            </if>
            <if test='null != userId'>
                user_id,
            </if>
            <if test='null != chapter'>
                chapter,
            </if>
            <if test='null != section'>
                section,
            </if>
            <if test='null != lessonPlanText'>
                lesson_plan_text,
            </if>
            <if test='null != pptName'>
                ppt_name,
            </if>
            <if test='null != pptUrl'>
                ppt_url,
            </if>
            <if test='null != exercisesName'>
                exercises_name,
            </if>
            <if test='null != exercisesUrl'>
                exercises_url,
            </if>
            <if test='null != version'>
                version,
            </if>
            <if test='null != createTime'>
                create_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test='null != id'>
                #{id},
            </if>
            <if test='null != relationId'>
                #{relationId},
            </if>
            <if test='null != relationName'>
                #{relationName},
            </if>
            <if test='null != userId'>
                #{userId},
            </if>
            <if test='null != chapter'>
                #{chapter},
            </if>
            <if test='null != section'>
                #{section},
            </if>
            <if test='null != lessonPlanText'>
                #{lessonPlanText},
            </if>
            <if test='null != pptName'>
                #{pptName},
            </if>
            <if test='null != pptUrl'>
                #{pptUrl},
            </if>
            <if test='null != exercisesName'>
                #{exercisesName},
            </if>
            <if test='null != exercisesUrl'>
                #{exercisesUrl},
            </if>
            <if test='null != version'>
                #{version},
            </if>
            <if test='null != createTime'>
                #{createTime}
            </if>
        </trim>
    </insert>

    <delete id="delete">
        DELETE
        FROM lesson_plan
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.school.manager.pojo.entity.LessonPlan">
        UPDATE lesson_plan
        <set>
            <if test='null != relationId'>relation_id = #{relationId},</if>
            <if test='null != relationName'>relation_name = #{relationName},</if>
            <if test='null != userId'>user_id = #{userId},</if>
            <if test='null != chapter'>chapter = #{chapter},</if>
            <if test='null != section'>section = #{section},</if>
            <if test='null != lessonPlanText'>lesson_plan_text = #{lessonPlanText},</if>
            <if test='null != pptName'>ppt_name = #{pptName},</if>
            <if test='null != pptUrl'>ppt_url = #{pptUrl},</if>
            <if test='null != exercisesName'>exercises_name = #{exercisesName},</if>
            <if test='null != exercisesUrl'>exercises_url = #{exercisesUrl},</if>
            <if test='null != version'>version = #{version},</if>
            <if test='null != createTime'>create_time = #{createTime}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="info" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM lesson_plan
        WHERE id = #{id}
    </select>

    <select id="pageList" resultType="com.school.manager.pojo.dto.resp.LessonPlanListResp">
        SELECT
        <include refid="Base_List_Column_List"/>
        FROM lesson_plan
        <where>
            <if test="null != relationId">
                and relation_id = #{relationId}
            </if>
            <if test="null != startDate">
                and create_time <![CDATA[>=]]> #{startDate}
            </if>
            <if test="null != endDate">
                and create_time <![CDATA[<=]]> #{endDate}
            </if>
        </where>
        LIMIT #{pageIndex}, #{pageSize}
    </select>

    <select id="pageListCount" resultType="java.lang.Long">
        SELECT count(1)
        FROM lesson_plan
        <where>
            <if test="null != relationId">
                and relation_id = #{relationId}
            </if>
            <if test="null != startDate">
                and create_time <![CDATA[>=]]> #{startDate}
            </if>
            <if test="null != endDate">
                and create_time <![CDATA[<=]]> #{endDate}
            </if>
        </where>
    </select>

    <select id="gradeSubList" resultType="com.school.manager.pojo.dto.common.BaseDTO">
        select ugs.id, concat(g.name, s.name) as name
        from user_grade_subject ugs
                 join user u on ugs.user_id = u.id
                 join grade g on ugs.grade_id = g.id
                 join subject s on ugs.subject_id = s.id
        where ugs.user_id = #{userId}
    </select>
    <select id="getByRelationId" resultType="java.lang.Integer">
        select count(id)
        from lesson_plan
        where relation_id = #{relationId}
    </select>
    <select id="getByUserId" resultType="java.lang.Integer">
        select count(id)
        from lesson_plan
        where user_id = #{userId}
    </select>
    <select id="statistics" resultType="com.school.manager.pojo.dto.resp.LessonStatisticsInfoResp">
        select count(lp.id) as count, u.name as user_name, u.job_number
        from lesson_plan lp
        left join user u on lp.user_id = u.id
        where user_id in
        <foreach collection="userIds" open="(" separator="," close=")" index="index" item="userId">
            #{userId}
        </foreach>
        group by lp.user_id

    </select>


</mapper>