<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.manager.pojo.dao.UserPasswordDao">
    <update id="update">
        update user_password
        set password = #{password}
        where id = #{id}
    </update>
    <delete id="delete">
        delete
        from user_password
        where id = #{id}
    </delete>
    <select id="save" parameterType="com.school.manager.pojo.entity.UserPassword">
        insert into user_password(id, password)
        VALUES (#{id}, #{password})
    </select>
    <select id="findById" resultType="com.school.manager.pojo.entity.UserPassword">
        select id, password
        from user_password
        where id = #{id}
    </select>
</mapper>